

@model SBMSwebApp.Models.Models.CategoryViewModel
@{
    ViewBag.Title = "GetCategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="form-group" style="border:1px solid #00ff21; padding: 5px;">
        <h4 style="font-family:'Bookman Old Style';" align="center">Category Details</h4>
    </div>
<div class="container" style="width:100%">
    <div class="form-group row">
        <a  href="/Category/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Category List</a><hr />
        
    </div>
</div>
@if (Model != null)
{
    <div class="container" style="margin-top:1%;">
        <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-2" style="text-align:right; padding:5px ">
                <label>Category Name</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="CategoryName" value="@Model.CategoryName" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-2" style="text-align:right; padding:5px ">
                <label>Code</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="CategoryCode" value="@Model.CategoryCode" readonly />
            </div>
        </div>
        @*<div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <a href="/Category/UpdateCategory?id=@Model.CategoryId" class="btn btn-primary">Edit</a>
            </div>
            <div class="col-md-3"></div>
        </div>*@
    </div>
}


