<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title >SBMS</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style2.css">
    <link href="~/Content/css/style2.css" rel="stylesheet" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper" style="background-color:green">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header ">

                <a href="#" class="sidebar-header ">
                    @*<i class="fa fa-calculator" aria-hidden="true" style="color:azure"></i>*@
                    <img class="fa-align-center" src="~/Resources/icons/android-chrome-512x512.png" />
                </a>

            </div>

            <ul class="list-unstyled components">

                @*<li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>*@


                @*</li>*@

                <li>
                    <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-address-card" aria-hidden="true" style="color:black"></i> Product Module</a>
                    <ul class="collapse list-unstyled" id="productSubmenu">
                        <li>
                            <a href="/Category/index">Category</a>
                        </li>
                        <li>
                            <a href="/Product/index">Product</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#partySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-handshake " aria-hidden="true" style="color:black"></i> Party Module</a>
                    <ul class="collapse list-unstyled" id="partySubmenu">
                        <li>
                            <a href="/Customer/index">Customer</a>
                        </li>
                        <li>
                            <a href="/Supplier/index">Supplier</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#purchaseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-plus-square" aria-hidden="true" style="color:black"></i> Purchase Module</a>
                    <ul class="collapse list-unstyled" id="purchaseSubmenu">
                        <li>
                            <a href="/Purchase/InsertPurchaseProduct">Purchase</a>
                        </li>
                        <li>
                            <a href="/Purchase/index">Purchase Details</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#salesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-minus-square" aria-hidden="true" style="color:black"></i> Sales Module</a>
                    <ul class="collapse list-unstyled" id="salesSubmenu">
                        <li>
                            <a href="/Sales/SaveSalesProduct">Sales</a>
                        </li>
                        

                    </ul>
                </li>
                <li>
                    <a href="#stockSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-archive" aria-hidden="true" style="color:black"></i> Stock Module</a>
                    <ul class="collapse list-unstyled" id="stockSubmenu">
                        <li>
                            <a href="/Stock/Index">Stock</a>
                        </li>
                        <li>
                            <a href="#">Order</a>
                        </li>
                        <li>
                            <a href="#">Stock Out</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-book " aria-hidden="true" style="color:black"></i> Report Module</a>
                    <ul class="collapse list-unstyled" id="reportSubmenu">
                        <li>
                            <a href="/Reporting/PeriodictIncomeReport">Report on Sales</a>
                        </li>
                        <li>
                            <a href="/Reporting/PeriodicIncomeExpenseOnPurchase">Report on Purchase</a>
                        </li>

                    </ul>
                </li>

            </ul>


        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ol class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Category/index">Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Product/index">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Customer/index">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Supplier/index">Supplier</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Purchase/index">Purchase</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Sales/SaveSalesProduct">Sales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Stock/Index">Stock</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Reporting/PeriodictIncomeReport">Report</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ol>

                    </div>

                </div>
            </nav>
            @RenderBody()
        </div>

    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    

    @RenderSection("Scripts",false)
</body>

</html>